<!doctype html>
<html>
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>
    <title>{% block title %}{% endblock %} - Command center</title>
    {% endblock %}
</head>
<body>
<nav>
    <a href="https://joeriabbo.nl">
        <img src="{{ url_for('static', filename='logo.png') }}">
    </a>
    <div class="wrapper">
        <a href="{{ url_for('.install') }}" class="nav-link">Install</a>
        <a href="{{ url_for('.fetch') }}" class="nav-link">Fetch</a>
        <a href="{{ url_for('.servers') }}" class="nav-link">Servers</a>
    </div>
    <a href="{{ url_for('.fetch') }}" class="nav-link">Fetch</a>
</nav>

<div id="content">
    {% if messages %}
    <div class="message">{{ messages["main"] }}</div>
    {% endif %}
    {% block content %}{% endblock %}
</div>
<div id="footer">
    {% block footer %}
    &copy; Copyright {{ now.year }} by <a href="https://joeriabbo.nl/" target="_blank">Joeri Abbo</a>.
    {% endblock %}
</div>
<script src="{{ url_for('static', filename='main.js') }}"></script>

</body>
</html>